*
{
  margin: 0px;
  padding: 0px;
}

body
{
  background-color: #292961;
}

#container
{
  width: 85%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  bottom:0;
  transform: translate(-50%, -50%);
}

#container h1
{
  font-weight: normal;
}
